@use '@angular/material' as mat;
@use 'theme-colors' as ponytheme;

html {
  color-scheme: light;
  @include mat.theme((
    color: ponytheme.$primary-palette,
    typography: Roboto,
    density: 0
  ));
}
